* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 80px;
  background-color: #104b68;

  display: flex;
  justify-content: space-between;
}

#left {
  width: 300px;

  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left > img {
  color: white;
  width: 60%;
  cursor: pointer;
}

#left > select {
  display: block;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  background-color: #104b68;
  border: 0px;
}

#right {
  margin-right: 30px;
  width: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

#right > div > a {
  text-decoration-line: none;
  color: white;
}

select > option {
  display: block;
  width: 400px;
  height: 500px;
  padding-right: 20px;
  /* border-radius: 10px; */
  /* border: 1px solid red; */
}

#img {
  width: 100%;
  display: block;
  position: relative;
}

#img > img {
  margin: auto;
  width: 100%;
  height: 500px;
  display: block;
}

#fFlex {
  width: 90%;
  margin: auto;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
}

#fFlex div {
  width: 350px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#fFlex img {
  cursor: pointer;
  display: block;
  width: 100%;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

/* Featured offers */
#fh1 {
  margin-top: 30px;
  margin-left: 70px;
  font-size: 30px;
  font-weight: bolder;
}

#sFlex {
  margin: auto;
  width: 90%;

  display: flex;
  justify-content: space-between;
}

#sFlex > div {
  width: 290px;
  cursor: pointer;
}

#sFlex img {
  width: 100%;
  height: 100%;
}

#sFlex > div > div {
  color: white;
  margin-top: -50px;
  margin-left: 20px;
  font-size: 13px;
}

/* bigANDsmallImages */
#images {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 70% 29%);
  grid-template-rows: repeat(1, 270px);

  gap: 0px 1%;
}

#images > div:first-child img {
  width: 100%;
  height: 100%;
  object-position: 0px -130px;
  object-fit: cover;
}

#images > div:last-child img {
  width: 100%;
  height: 100%;
}

/* here to help */
#sh1 {
  margin-top: 30px;
  margin-left: 70px;
  font-weight: 900;
}

#hereTo {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#hereTo > div {
  width: 350px;
  height: 70px;
  border: 1px solid grey;
  cursor: pointer;
  text-align: left;
  padding: 10px;
}

#hereTo > div > h2 {
  font-size: 20px;
}

#hereTo > div > p {
  font-size: 13px;
}

#hereTo > div img {
  width: 5%;
  margin-left: 80px;
}

#hereTo > div > p {
  margin-top: 10px;
}

/* Traveling tips */
#travel {
  margin-top: 30px;
  margin-left: 70px;
  font-size: 30px;
}

#travelbox {
  margin: auto;
  margin-top: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 0px 30px;
}

#travelbox > div img {
  width: 100%;
  height: 250px;
  position: relative;
}

.h2 {
  position: absolute;
  left: 20px;
}

#white {
  margin: auto;
  margin-top: 20px;
  width: 120%;
  height: 300px;
  background-color: white;
}
#whitenav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#whitenav > div:hover{
    text-decoration: underline;
   color: #c83259;
}
#whitenav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(43, 41, 41);
  cursor: pointer;
}

.line-1 {
    margin: auto;
    width: 95%;
    height: 1px;
    background: grey;
  }
#searching {
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

#searching > div {
  border: 1px solid#104b68;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#searching > div:nth-child(1) {
  width: 370px;
  height: 50px;
}
#searching > div:nth-child(2) {
  width: 180px;
  height: 50px;
}
#searching > div:nth-child(3) {
  width: 160px;
  height: 50px;
}
#searching > div:nth-child(4) {
  width: 230px;
  height: 50px;
}
button {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #c83259;
  color: #ffffff;
  padding: 15px 50px;
  font-weight: 500;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  border: #c83259;
}
#absolute {
  position: absolute;
  top: 20px;
  left: 10%;
}
